body {
    margin: 0;
    height: 100%;
    width: 100%;
    
    --scale: .42vmin;
    
    /* theme1 */
    --color-1: #aabdcb;
    --color-2: #c0c0c4;
    --color-3: #7f7f7f;
    --color-4: #e6e6e6;
    --color-5: #f5f5f5;
    --color-6: #f5f53d;
    --color-7: #fbc550;
    --color-8: #76160a;
    
    background: #434e70;
    --color-green: #1af50a;

    --color-highlight-1: #cef50a;
    --color-highlight-2: #f5f50a;
}
@media (max-height: 99.99vh) {
    body {
        height: 100vh;
    }
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1px solid var(--color-3);
    border-bottom: none;
}

.data-label-value {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#title {
    margin-left: 8px;
    color: #ffbf1f;
}

.panels-section {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-2);
    border-bottom: 10px solid var(--color-3);
    padding: 5px;
}

.panels-section form {
    margin: 5px;
}

.form-layout-block {
    display: grid;
}

.form-layout-block-spaced {
    display: grid;
    grid-gap: 15px;
}

.outline {
    padding: 5px 10px;
    border: 1px solid var(--color-3);
}

.content-highlight {
    width: max-content;
    background: var(--color-4);
    border: 1px solid var(--color-3);
}
.content-highlight > div {
    margin: 10px;
}
.content-highlight2 {
    width: max-content;
    padding: 10px;
    background: var(--color-5);
    border: 1px solid var(--color-3);
}

#space-form-container > * {
    margin-bottom: 10px;
}

#object-form-container > * {
    margin-bottom: 10px;
}

#visualizer-container {
    overflow: scroll;
    height: max-content;
    background: var(--color-1);
    border-top: 10px solid var(--color-3);
    border-bottom: 10px solid var(--color-3);
}

#visualizer-content {
    padding: 10px;
    /* height: 465px; */
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* SLIDERS */
input[type="range"] {
    margin: 10px;
    width: 200px;
    cursor: grab;
}

.slider-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playback-multiplier-markers {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 10px;
}

/* BUTTONS */
.cursor-pointer {
    cursor: pointer;
}

.button-style-1 {
    cursor: pointer;
    padding: 3px 8px;
    border: 1px solid var(--color-3);
    border-radius: 4px;
    width: max-content;
}

.button-style-2 {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0px 3px;
    font-weight: 800;
    color: #9c1d0d;
    border: 1px solid var(--color-7);
    outline: 1px solid #75170afc;
}
.button-style-2:active {
    outline: 1px solid #75170a80;
}

.button-style-3 {
    cursor: pointer;
    background-color: #f5ab0a;
    border: 2.3px inset #808080b3;
    margin: 3px 0px;
}
.button-style-3:hover {
    border: 2.3px outset #4d4d4dcc;
}
.button-style-3:active {
    background-color: hsl(50, 92%, 50%);
    border: 2.3px solid #4d4d4d;
}

.removeBTN-layout {
    margin-top: 10px;
    margin-bottom: 5px;
}