body {
    margin: 0;
    height: 100%;
    width: 100%;
    
    --scale: .42vmin;
    
    /* theme1 */
    background: #434e70;
    --color-1: #a3c9d2;
    --color-2: #d3d3d3;
    --color-3: #7f7f7f;
    --color-4: #f5f5f5;
}
@media (max-height: 99.99vh) {
    body {
        height: 100vh;
    }
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-label-value {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#title {
    margin-left: 8px;
    color: #ffbf1f;
}

.panels-section {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-2);
    border: 1px solid var(--color-3);
    padding: 5px;
}

.panels-section form {
    margin: 5px;
}


.form-layout-block {
    display: grid;
}

.content-highlight {
    width: max-content;
    padding: 10px;
    background: var(--color-4);
    border: 1px solid var(--color-3);
    margin-bottom: 8px;
}

#storage-container {
    height: 100%;
    width: 99.99vw;
    overflow: scroll;
    transform: rotateX(180deg);
    background: var(--color-1);
    border-left: 1px solid var(--color-3);
    border-right: 1px solid var(--color-3);
    border-top: 1px solid var(--color-3);
}

#storage-content {
    display: flex;
    flex-wrap: nowrap;
    transform: rotateX(180deg);
}
  
.column, h3 {
    text-align: center;
}

.col-data {
    padding: 0px 8px;
    text-align: left;
    white-space: nowrap;
}
  
.column {
    padding: var(--scale);
    padding-left: 0vmin;
    margin: var(--scale);
    background: #595959;
    border: 1px solid #333333;
}
  
.row {
    padding: calc(var(--scale)/2) var(--scale);
    padding-right: 0vmin;
    background: #969696;
    border: 1px solid #333333;
    border-left: 1px solid #969696;
    margin-bottom: var(--scale);
    margin-left: -.8px;
    display: flex;
    justify-content: space-around;
}
  
.row:last-of-type {
    margin-bottom: 0vmin;
}
  
.container {
    padding: var(--scale);
    background: #d1d1d1;
    border: 1px solid #333333;
    margin-right: calc(var(--scale)/2);
    display: grid;
}
  
.slot {
    padding: calc(var(--scale)*2);
    border: 1px solid #333333;
}
  
.slot-empty {
    background: #ff4f4f;
}
  
.slot-full {
    background: #6eff6e;
}